body{
    background-color: #2c2c54;
    margin: 0;
    
}

.conteiner{
    
}

.header{
    height: 100vh;
}

.header-line{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item{
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    margin-right: 50px;
}
